    body,
    html {
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: Arial, sans-serif;
    }

    .container {
      display: flex;
      height: 100vh;
    }

    #canvasContainer {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #sidebar {
      flex: 1;
      padding: 20px;
      background-color: #f0f0f0;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }